//Burger
.header__menu.menu
	button.menu__icon.icon-menu(type='button')
		span
		span
		span
	nav.menu__body#nav._nav
		ul.menu__list
			li.menu__item
				a.menu__link._link(href='#' data-link='.block1') link-1
			li.menu__item
				a.menu__link._link(href='#' data-link='.block2') link-2
			li.menu__item
				a.menu__link._link(href='#' data-link='.block3') link-3
			li.menu__item
				a.menu__link._link(href='#' data-link='.block4') link-4
			li.menu__item
				a.menu__link._link(href='#' data-link='.block5') link-5
