.counter
	.counter-body
		button.counter-btn.counter-btn--minus(data-count='minus' type='button') -
		input.counter-value#num(type='text', name='Count', value='0')
		button.counter-btn.counter-btn--plus(data-count='plus' type='button') +
	.counter-output
		span.counter-number#output 0
		span.counter-text#text штук
