.map
	span.map__toggle Click
	.map__popup
		.map__body#mapYandex
		.map__info
			button.map__close(type='button') +
			.map__text
				span Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur beatae, consequuntur dignissimos fugit, iusto laborum maiores neque nihil optio praesentium rem tenetur vel vitae voluptas! Iure laborum omnis provident.
				small Address
