//Popup
.popup.popup_popup
	.popup__content
		.popup__body
			.popup__top
				span.popup__close
			span.popup__title Popup
			.popup__inner
				._accordion
					input._accordion-select(type="radio", name="select", checked)
					._accordion-title
						span Title
					._accordion-content Content
					input._accordion-select(type="radio", name="select")
					._accordion-title
						span Title
					._accordion-content Content
					input._accordion-select(type="radio", name="select")
					._accordion-title
						span Title
					._accordion-content Content

.popup.popup_form-message
	.popup__content
		.popup__body
			.popup__top
				span.popup__close
			h1.popup__title Ваша заявка успешно отправлена

.popup.popup_video
	.popup__content
		.popup__body
			.popup__close.popup__close_video
			.popup__video._video
