.progress
	form.progress__form
		.progress__body
			.progress__inner
			.progress__inner-line
				.progress__inner-item.progress__inner-item--left(data-item='очень долго')
					span.progress__inner-number 1
				.progress__inner-item.progress__inner-item--left(data-item='долго')
					span.progress__inner-number 2
				.progress__inner-item.progress__inner-item--center(data-item='нормально')
					span.progress__inner-number 3
				.progress__inner-item.progress__inner-item--right(data-item='быстро')
					span.progress__inner-number 4
				.progress__inner-item.progress__inner-item--right(data-item='очень быстро')
					span.progress__inner-number 5
