.bluck(data-spoilers)
	.unblock
		.title(data-spoiler) title
		.unblock__item
			.unblock__title Pagination
			img(src='img/icons/loading.gif' alt='' loading='lazy')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aut, commodi consectetur deleniti deserunt error est
		.title(data-spoiler) title
		.unblock__item
			.unblock__title Pagination
			img(src='img/icons/loading.gif' alt='' loading='lazy')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsam maxime quam quasi similique, voluptas.
		.title(data-spoiler) title
		.unblock__item
			.unblock__title Pagination
			img(src='img/icons/loading.gif' alt='' loading='lazy')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at autem eum, ex expedita molestias?
		.title(data-spoiler) title
		.unblock__item
			.unblock__title Pagination
			img(src='img/icons/loading.gif' alt='' loading='lazy')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis earum eum, ex neque sint?

