.tabs
	.tabs__nav.tabs-nav
		.tabs-nav__item.is-active(data-tab-name='tab-1') 1
		.tabs-nav__item(data-tab-name='tab-2') 2
		.tabs-nav__item(data-tab-name='tab-3') 3
	.tabs__content
		.tab.is-active.tab-1 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque enim nihil possimus reiciendis? Animi autem doloribus
		.tab.tab-2 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto asperiores commodi, cupiditate est facere fugiat
		.tab.tab-3 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias culpa earum, eius esse impedit incidunt ipsam laudantium
