.tags__body
	.tags__title
		img(src='img/icons/tag.svg', alt='icon')
		h2 Tags
	.tags__content
		p Press enter or add a comma after each tag
		ul.tags__list
			input(type='text', spellcheck='false')
	.tags__details
		p
			span 10
			|  tags are remaining
		button Remove All
