meta(name='robots' content='all')
meta(name='robots' content='noarchive, noyaca')
meta(name='generator' content='')
meta(name='copyright' content='' lang='ru')
meta(name='Rating' content='General')
meta(name='format-detection' content='telephone=yes')
meta(name='format-detection' content='address=yes')
meta(name='description', content=description)
meta(name='keywords' content=keywords)
link(rel="canonical" href="")
<!--[if lt IE 9]>
script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')
<![endif]-->
