.block3.block#block-3
	h1 title-3
	span._link(data-link='.wrapper') title-3
	.accordion(data-spollers data-one-spoller)
		.accordion__content
			span.accordion__label._active(data-spoller) title one
			.accordion__body
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex harum saepe, libero quia, error eaque id asperiores sunt voluptatum culpa maiores possimus! Pariatur enim esse sint temporibus eligendi mollitia aut.
		.accordion__content
			span.accordion__label(data-spoller) title two
			.accordion__body
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex harum saepe, libero quia, error eaque id asperiores sunt voluptatum culpa maiores possimus! Pariatur enim esse sint temporibus eligendi mollitia aut. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, voluptate minus vel quia tenetur quod iure, nam iste sunt dolores praesentium unde commodi odio! Exercitationem fuga quis dolore unde magni. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam corporis nihil nam ad consequatur, facilis voluptatem aut, ea, reiciendis eos id voluptatibus. Velit quam voluptatibus unde delectus beatae optio neque maiores consequatur facilis et praesentium a iusto nobis voluptate, necessitatibus at sint distinctio, illo quisquam aspernatur reprehenderit animi. Excepturi cumque reiciendis ea sapiente. Sit exercitationem quasi autem tenetur provident laborum dolorum eius nesciunt? Natus ratione accusamus officiis amet distinctio quia itaque aliquam rerum, dolores esse enim officia obcaecati minima quas quos iste ex, cum laudantium pariatur consequuntur assumenda, ipsam a. Hic vitae voluptatem atque cumque eos esse minus voluptatibus repellendus.
		.accordion__content
			span.accordion__label(data-spoller) title three
			.accordion__body
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex harum saepe, libero quia, error eaque id asperiores sunt voluptatum culpa maiores possimus! Pariatur enim esse sint temporibus eligendi mollitia aut.
		.accordion__content
			span.accordion__label(data-spoller) title four
			.accordion__body
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex harum saepe, libero quia, error eaque id asperiores sunt voluptatum culpa maiores possimus! Pariatur enim esse sint temporibus eligendi mollitia aut.
